/*
Colors used:
Primary Color (lightgrey): #dbdfe6;
Secondary Color (red):#ef233c;
Button and Hover Color(green):#34e6c5

*/
* {
  box-sizing: border-box;
}

/*Layout Styling*/
.container {
  padding: 0 15px;
  max-width: 1200px
}

#hero h1 {
  text-align: center;
}

#hero {
  background-color: white;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

.logo {
  max-width: 250px;
}

body {
  background-color: #ffffff;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #4a4a4a
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li> {
  display: inline-block;
  width: 100%
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

nav>ul>li>a:hover {
  color: grey;
  text-decoration: underline;
}

nav>ul>li>a:visited {
  color: lightgrey;
}

nav>ul>li>a:active {
  color: grey;
}

/*headings*/
h1, h2, h3, h4 {
  line-height: 1.4
}

h1 {
  font-size: 2.75em font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

h1, h2, h3, h4 {
  width: 100%;
}

img {
  width: 100%;
}

/*phone number*/
a {
  color: grey;
  text-decoration: none;
}

a:hover {
  color: #34e6c5;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:visited {
  /* visited link */
  color: #33DEBF;
}

a:active {
  /* selected link */
  color: #34e6c5;
}

a:hover,
a:focus {
  color: #34e6c5;
  text-decoration: underline;
}

.button {
  display: inline-block;
  background-color: #ffffff;
  color: black;
  /* overrides the default link color */
  font-weight: 400;
  font-variant: small-caps;
  padding: 10px;
  border-radius: 16px;
  border-bottom: 1px solid #black;
  /* border width, type, color */
  border-top: 1px solid #black;
  border-right: 1px solid #black;
  border-left: 1px solid #black;
  transition 0.2s; opacity;
}

.button:hover {
  background-color: #34e6c5;
  /*bright green*/
  color: black;
  /*button text color*/
  opacity: 0.8;
  /* opacity of the button to 90% */
  text-decoration: none;
}

.button:active {
  /* selected link */
  color: #34e6c5;
}

/*send me an email button styling*/
.button.contact {
  background-color: #34e6c5;
  color: black;
  font-variant: small-caps;
  font-weight: regular;
  text-align: centre;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid transparent;
  box-shadow: 0 2px;
  opacity: 0.8;
  text-decoration: none;
}

.button.contact:hover {
  background-color: #34e6c5;
  /*bright green*/
  color: black;
  /*button text color*/
  opacity: 0.8;
  /* opacity of the button to 90% */
  text-decoration: none;
}

.button.contact:active {
  /* selected link */
  color: #34e6c5;
  box-shadow: 0 3px;
  transform: translate(2px);
}

.profile {
  max-width: 300px;
}

/*
nav ul a {
  text-decoration: none;
  line-height: 2;

}*/
.subheading {
  background-color: white color: grey;
}

.slogan {
  background-color: white color: grey;
}

/*--HEADER*/
header {
  background-color: white;
  text-align: center;
  padding: 10px 0;
  margin: 10px;
  border-bottom: 3px solid #4a4a4a;
  box-shadow: 2px 2px 1px 0px rgba(50, 50, 50, 0.75);
  position: relative;
}

selector {
  margin: 0 auto;
  /* No spacing to top and bottom and auto spacing to left and right */
  width: 1200px
}

.row {
  margin: 25px 0;
}

#experti, #flashtalk. row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a
}

/*MEDIUM DEVICES (640px and larger)*/
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  #nav  {
    display: inline;
    width: auto;
    float: right;
  }

  body {
    font-size: 18px;
  }

  #hero {
    text-align: center;
  }

  #subheading {
    display: block;
  }

  #slogan {
    display: block;
  }

  h1 {
    text-align: center;
  }

  p {
    padding-left: 20px;
    padding-right: 20px;
  }

  .profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-md-6"] {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  div#relevantskills {
    width: 50%;
    float: left;
}

  div#toolsiuse {
    width: 50%;
    float: right;
  }
  #letsworktogether {
    font-size: 22px;
    color: grey;

  }

}

/*LARGE DEVICES (1024px and larger)*/
@madia only screen and (min-width: 1024px) {

    header {
      text-align: unset;
      padding: 20px 0 13px;
    }

    #nav  {
      display: inline;
      width: auto;
      float: right;
    }

    body {
      font-size: 18px;
    }

    #hero {
      text-align: center;
    }

    #subheading {
      display: block;
    }

    #slogan {
      display: block;
    }

    h1 {
      text-align: center;
    }

    p {
      padding-left: 20px;
      padding-right: 20px;
    }


  .picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }

  .col-lg-7 {
    width: 40%;
  }

    [class*="col-md-6"] {
      float: left;
      padding-left: 10px;
      padding-right: 10px;
    }

    .row::after {
      content: "";
      clear: both;
      display: table;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
}

/*X-LARGE DEVICES (1440px and larger)*/
@madia only screen and (min-width: 1440px) {

    header {
      text-align: unset;
      padding: 20px 0 13px;
    }

    #nav  {
      display: inline;
      width: auto;
      float: right;
    }

    body {
      font-size: 20px;
    }

    #hero {
      text-align: center;
    }

    #subheading {
      display: block;
    }

    #slogan {
      display: block;
    }

    h1 {
      text-align: center;
    }

    p {
      padding-left: 20px;
      padding-right: 20px;
    }


  .picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }

  .col-lg-7 {
    width: 40%;
  }

    [class*="col-md-6"] {
      float: left;
      padding-left: 10px;
      padding-right: 10px;
    }

    .row::after {
      content: "";
      clear: both;
      display: table;
}
}
@keyframe color-change {
0% {fill: #edc655;}
50% {fill; #fcffad;}
100% {fill: #f76414;}

}
.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
