/*
Colors used:
Primary Color (lightgrey): #dbdfe6;
Secondary Color (red):#ef233c;
Button and Hover Color(green):#34e6c5
Button and Hover Color(purple):#a406de
Button Active Color(purple):#6f4180
*/
* {
  box-sizing: border-box;
}
/*Layout Styling*/
.container {
  padding: 0 15px;
}
body {
  background-color: #ffffff;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #4a4a4a
}

/*headings*/
h1, h2, h3, h4 {
  line-height: 1.4
}

h1 {
  font-size: 2.75em font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

h1, h2, h3, h4 {
  width: 100%;
}

img {
  width: 100%;
}

/*phone number*/
a {
  color: #34e6c5;
  /*bright green*/
  text-decoration: none;
  /* No underlining */
}

a:hover {
  color: #34e6c5;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:visited {
  /* visited link */
  color: #33DEBF;
}

a:active {
  /* selected link */
  color: #34e6c5;
}

a:hover,
a:focus {
  color: #34e6c5;
  text-decoration: underline;
}

.button {
  display: inline-block;
  background-color: #ffffff;
  color: black;
  /* overrides the default link color */
  font-weight: 400;
  font-variant: small-caps;
  padding: 10px;
  border-radius: 16px;
  border-bottom: 1px solid #black;
  /* border width, type, color */
  border-top: 1px solid #black;
  border-right: 1px solid #black;
  border-left: 1px solid #black;
  transition: 0.4s opacity;
}

.button:hover {
  background-color: #34e6c5;
  /*bright green*/
  color: black;
  /*button text color*/
  opacity: 0.8;
  /* opacity of the button to 90% */
  text-decoration: none;
}

.button:active {
  /* selected link */
  color: #34e6c5;
}

/*send me an email button styling*/
.button.contact {
  background-color: #34e6c5;
  color: black;
  font-variant: small-caps;
  font-weight: regular;
  text-align: centre;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid transparent;
  box-shadow: 0 2px;
  opacity: 0.8;
  text-decoration: none;
}

.button.contact:hover {
  background-color: #34e6c5;
  /*bright green*/
  color: black;
  /*button text color*/
  opacity: 0.8;
  /* opacity of the button to 90% */
  text-decoration: none;
}

.button.contact:active {
  /* selected link */
  color: #34e6c5;
  box-shadow: 0 3px;
  transform: translate(2px);
}
.picture {
.profile {
  max-width: 300px;
}
nav ul a {
  text-decoration: none;
  line-height: 2;
  /*
}
subheading {background-color: white
color: grey;
}
myheader {background-color: white
color: grey;
*/
/*--HEADER*/
header{
  background-color: white;
  padding: 10px;
  margin: 10px;
  border-bottom: 3px solid #4a4a4a;
}
selector {
  margin: 0 auto; /* No spacing to top and bottom and auto spacing to left and right */
}
.row{
  margin: 25px 0;
}
#experti, flashtalk. row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a
}
