/*
Colors used:
Primary Color (lightgrey): #dbdfe6;
Secondary Color (red):#ef233c;
Button and Hover Color(green):#34e6c5

*/
* {
  box-sizing: border-box;
}

/* Layout Styling */
.container {
  padding: 0 15px;
}

#slogan {
  display: block;
  text-align: center;
}

#subheading {
  text-align: center;
  display: block;
}

#hero h1 {
  text-align: center;
}

#hero {
  background-color: white;
  padding: 20px 20px;
  display: inline-block;
  width: 100%;
}

.logo {
  max-width: 150px;
  padding-top: 20px;
  display: inline-block;
}

body {
  background-color: #fff;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #4a4a4a;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav>ul li:not(.menu-bar) {
  display: none;
}

.responsive {
  flex-direction: column;
}

.responsive li {
  display: block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

nav>ul>li>a:hover {
  color: grey;
  text-decoration: underline;
}

nav>ul>li>a:visited {
  color: lightgrey;
}

nav>ul>li>a:active {
  color: grey;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgb(52, 230, 197);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

/* headings */
h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

h1,
h2,
h3,
h4 {
  width: 100%;
}

img {
  width: 100%;
}

/* phone number */
a {
  color: grey;
  text-decoration: none;
}

/* Underlining when hovering over a link */
a:hover {
  color: #34e6c5;
  text-decoration: underline;
}

/* visited link */
a:visited {
  color: #33debf;
}

/* selected link */
a:active {
  color: #34e6c5;
}

a:hover,
a:focus {
  color: #34e6c5;
  text-decoration: underline;
}

.button {
  display: inline-block;
  background-color: #fff;
  color: black;
  /* overrides the default link color */
  font-weight: 400;
  font-variant: small-caps;
  border-radius: 16px;
  transition: 0.2s;
  opacity: 0.8;
}

.button:hover {
  background-color: #34e6c5;
  /* bright green */
  color: black;
  /* button text color */
  opacity: 0.8;
  /* opacity of the button to 90% */
  text-decoration: none;
}

.button:active {
  /* selected link */
  color: #34e6c5;
}

/* send me an email button styling */
.button.contact {
  background-color: #34e6c5;
  color: black;
  padding: 10px;
  font-variant: small-caps;
  border: 1px solid transparent;
  box-shadow: 0 2px;
  opacity: 0.8;
  text-decoration: none;
}

.button.contact:hover {
  background-color: #34e6c5;
  /* bright green */
  color: black;
  /* button text color */
  opacity: 0.8;
  /* opacity of the button to 90% */
  text-decoration: none;
}

.button.contact:active {
  /* selected link */
  color: #34e6c5;
  box-shadow: 0 3px;
  transform: translate(2px);
}

.profile {
  max-width: 300px;
}

.subheading {
  background-color: white;
  color: grey;
  text-align: center;
}

.slogan {
  background-color: white;
  color: grey;
  text-align: center;
}

footer {}

/* --HEADER */
header {
  background-color: white;
  padding: 10px 0 4px;
  border-bottom: 0.5px solid lightgrey;
  position: relative;
  min-height: 70px;
}

selector {
  margin: 0 auto;
  /* No spacing to top and bottom and auto spacing to left and right */
}

.row {
  margin: 35px 0;
  padding: 20px;
}

#experti,
#flashtalk.row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

/* MEDIUM DEVICES (640px and larger) */
@media only screen and (min-width: 640px) {
  header {
    box-shadow: 1px 1px 1px 0 rgba(50, 50, 50, 0.75);
  }

  nav>ul>li> {
    display: inline-block;
  }

  nav>ul {
    margin: 1em 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .navtoggle,
  .navtoggle.responsive {
    position: relative;
  }

  header {
    text-align: unset;
  }

  #nav {
    display: inline;
    width: auto;
    float: right;
  }

  .picture {
    display: inline;
  }

  body {
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
  }

  #hero {
    text-align: center;
  }

  #subheading {
    display: block;
  }

  #slogan {
    display: block;
  }

  h1 {
    text-align: center;
  }

  .profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-md-6"] {
    float: left;
    padding-left: 30px;
    padding-right: 20px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
}

/* LARGE DEVICES (1024px and larger) */
@madia only screen and (min-width: 1024px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  #nav {
    display: inline;
    width: auto;
  }

  body {
    font-size: 18px;
  }

  #hero {
    text-align: center;
  }

  #subheading {
    display: block;
  }

  #slogan {
    display: block;
  }

  h1 {
    text-align: center;
  }

  .picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }

  .col-lg-7 {
    width: 40%;
  }

  [class*="col-md-6"] {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* X-LARGE DEVICES (1440px and larger) */
@madia only screen and (min-width: 1440px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  #nav {
    display: inline;
    width: auto;
    float: right;
  }

  body {
    font-size: 20px;
  }

  #hero {
    text-align: center;
  }

  #subheading {
    display: block;
    text-align: center;
  }

  #slogan {
    display: block;
    text-align: center;
  }

  h1 {
    text-align: center;
  }

  p {
    padding-left: 20px;
    padding-right: 20px;
  }

  .picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }

  .col-lg-7 {
    width: 40%;
  }

  [class*="col-md-6"] {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
}

@keyframe color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill #fcffad
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
